<header>
	<div class="navigation">
		<section classa="layout">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="/index">Home</a></li>
			  <li role="presentation"><a href="/index/classifieds">View Adds</a></li>
			</ul>
		</section>
	</div>
</header>